# APP

APP_PORT=3000
APP_NAME="Plantilla NestJS Con Seguridad"

# CONEXIÓN A LA BASE DE DATOS

DB_PORT=puerto_de_postgres
DB_HOST=direcion_de_postgres
DB_PASSWORD=contraseña_de_acceso_de_postgres
DB_USER=usuario_de_acceso_a_postgres
DB_DATABASE=nombre_base_de_datos_postgres

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}"

# JWT SECRET KEY

JWT_SECRET=""
JWT_REFRESH_SECRET=""

# SISTEMA DE CORREOS

MAIL_HOST=smtp.gmail.com
MAIL_USER=TUCORREO
# https://myaccount.google.com/apppasswords
MAIL_PASSWORD="CONTRASEÑA_DE_APLICACION DE MAIL USER DE APP PASSWORDS"
MAIL_FROM="elcorreo"

# CONFIGURACIÓN DE ROL POR DEFECTO

ROL_ID_POR_DEFECTO=1
ROL_NOMBRE_POR_DEFECTO="Ciudadano"

# CONFIGURACIÓN DE GOOGLE

WEB_CLIENT_ID_GOOGLE=""

# SAVING FILES

MAX_FILE_SIZE_IN_MB=2